<p class = "about">
    <span>"It’s a gift to do what you love, and if your work can bring joy to people in their daily lives in the process, 
        it is triply rewarding"<br /><br /></span>
    
    <span>VANNA is created by BHAVWANA & PREETHI to offer bespoke architecture and design for a wide range of residential and 
        commercial clientele and with our passion and the client’s unique tastes and lifestyle, 
        I seek out to uncover that flavor; the soul of their home which always tells the true story of those that inhabit it.”<br /><br />
    </span>

    <span>
        VANNA interiors will present fresh, exciting design concepts for the most discerning clients. 
        We pride ourselves on innovating in a wide range of styles.<br />
        Our team has the creativity, passion for detail.That’s not all, we offer VASTU Design Services in (VANNA) also
        giving you another reason to choose us as your designer.<br /><br />
    </span>

    <span>
        VANNA INTERIORS & ARCHITECTURE and its exclusive network of expert Architects and General Contractors can enhance your interior
         design solution with intelligent, beautiful, and functional architectural planning, redesign or renovation, creating a 
         harmonious balance between the space, its visual impact and its utility.<br /> 
        VANNA can provide a team of highly experienced project managers, who will present real time schedules and weekly updates,
         making sure our clients are aware of the details of the project’s status.<br /><br />
    </span>

    <span>
        Never trendy, the spaces must be fresh, functional, aesthetically alive, that will continue to inspire for years 
        to come.And with our team of highly qualified proven interior designers, supported as appropriate by our 
        architects,CAD and CGI professionals we turn the ideas and the passion in to realities.<br /><br />
    </span>

    <span>
        We listen carefully to our clients most cherished hopes and dreams. We also love introducing new ideas to help them 
        reach their goals with visions they might not have considered.<br /><br />
    </span>
</p>
