<div class="main-container">
  <div class="logo">
    <a href="#" class="logo">
      <img src="../images/logo.png" alt="image" class="responsive" />
    </a>
  </div>
  <div class="nav-bar">

  </div>

  <div class="content">
    <div class="grid">
      <div class="col-12 md:col-6 lg:col-6">
        <img src="../images/Guest Bedroom_view1.jpg" alt="Guest Bedroom View 1" class="bedroom-images"/>
        
      </div>
      <div class="col-12 md:col-6 lg:col-6">
        <img src="../images/Guest Bedroom_view1.jpg" alt="Guest Bedroom View 1" class="bedroom-images"/>
      </div>
      <div class="col-12 md:col-6 lg:col-6">
        <img src="../images/Guest Bedroom_view1.jpg" alt="Guest Bedroom View 1" class="bedroom-images"/>
      </div>
      <div class="col-12 md:col-6 lg:col-6">
        <img src="../images/Guest Bedroom_view1.jpg" alt="Guest Bedroom View 1" class="bedroom-images"/>
      </div>
    </div>
  </div>
</div>