<div class="main-container">
  <div class="header" style="padding-bottom: 10px;">
    <div class="logo" style="text-align: center;">  
      <a href="#" class="logo-1">
        <img src="../images/VANNA-Logo (1).jpg" alt="image" class="responsive" />
      </a>
    </div>
    <p-divider styleClass="test"></p-divider>
    <div class="navbar" style="padding-top: 15px;">
      <nav>
        <a routerLink="/">Home</a>
        <a routerLink="/about">About</a>
      </nav>
    </div>
  </div>
  <router-outlet></router-outlet>
  <footer>
    <div class="content">
      <div class="left box">
        <div class="upper">
          <div class="topic">About us</div>
          <p>
            Vanna interiors will present fresh, exciting design concepts for the most discerning clients. 
            We pride ourselves on innovating in a wide range of styles.
          </p>
        </div>
        <div class="lower">
          <div class="topic">Contact us</div>
          <div class="phone">
            <a href="#"><i class="pi pi-phone"></i>+91 89776 69703</a>
          </div>
          <div class="email">
            <a href="mailto:contactus@thevanna.com"><i class="pi pi-envelope"></i>contactus@thevanna.com</a>
          </div>
        </div>
      </div>
      <div class="middle box">
        <div class="topic">Our Services</div>
        <div><a routerLink="/interior">Interior</a></div>
        <div><a href="#">Furniture</a></div>
      </div>
      <div class="right box">
        <div class="topic">Subscribe us</div>
        <form action="#">
          <input type="text" placeholder="Enter email address">
          <input type="submit" name="" value="Send">
          <div class="media-icons">
            <a href="#"><i class="pi pi-facebook"></i></a>
            <a href="http://www.instagram.com/thevanna_" target="_blank"><i class="pi pi-instagram"></i></a>
            <a href="#"><i class="pi pi-youtube"></i></a>
            <a href="#"><i class="pi pi-linkedin"></i></a>
          </div>
        </form>
      </div>
    </div>
    <div class="bottom">
      <p>Copyright © 2022 <a href="#">Vanna Interior and Architecture</a> All rights reserved</p>
    </div>
  </footer>
 
</div>