<div class="main-content">
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-6 container">
            <a routerLink="/interior">
                <img src="../images/interior-main-page.png" alt="Interior Main Photo" class="bedroom-images" />
                <div class="overlay">
                    <div class="text">Interiors</div>
                </div>
            </a>
        </div>
        <div class="col-12 md:col-6 lg:col-6 container">
            <img src="../images/furniture-main-photo.png" alt="Furniture main page photo" class="bedroom-images"/>
            <div class="overlay">
                <div class="text">Furniture</div>
            </div>
        </div>
    </div>
  </div>
